button {
  padding: 1rem 2rem;
  color: white;
  background-color: var(--color-primary-black);
  font-size: 16px;
  border-style: none;

  &.wide {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    background-color: #414754;
  }
  &:active {
    background-color: black;
  }
}

.spacer {
  display: block;
  height: 1.5rem;
}

.config-input {
  margin: 10px;
  h2 {
    margin: 0;
  }
}

.card {
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}
